.body {
  max-width: 1920px;
  background-color: rgb(39, 20, 20);
  margin: 0;
} 

body.lock {
  overflow: hidden;
}

.container {
  width: 75%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding-top: 10px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
}

.burger {
  display: none;
}

.burger_menu {
  display: none;
}

.wrap_logo_a{
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.logo_img {
  display: block;
}

.logo_p {
  font-family: 'Dancing Script', cursive;
  font-size: 52px;
  margin: 0;
  color: #fff;
}

.logo_p span {
  color: rgb(19, 175, 123);
}

.wrap_logo_a:hover .logo_p{
  color: rgb(19, 175, 123);
}

.wrap_logo_a:hover .logo_p span {
  color: #fff;
}

.navigator_nav_ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.navigator_nav_ul.item {
  list-style-type: none;
}
.navigator_nav_ul.item a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

.navigator_nav_ul.item a:hover {
  color: rgb(19, 175, 123);
}

.wrap_button {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
.wrap_button:hover {
  transform: rotateX(360deg);
}

.wrap_button_a {
  text-decoration: none;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

.wrap_button_a div {
  background-color: rgb(19, 175, 123);
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
}

/* .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
} */

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer_p {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  box-sizing: border-box;
}
.link_github {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
}

.link_github p {
  margin: 0;
}

.link_github:hover p {
  color: rgb(19, 175, 123);
}

.link_github:hover path,
.link_rs:hover path:not(:last-child){
  fill: rgb(19, 175, 123);
}

@media (max-width: 650px) {
  .container {
    width: 100%;
  }
  .header {
    justify-content: space-between;
    position: relative;
    padding: 10px 15px 0 15px;
  }
  .burger {
    display: block;
  }
  .burger_svg:hover,
  .burger_svg:hover rect {
    fill: rgb(19, 175, 123);
    cursor: pointer;
  }

  .wrap_burger_up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo_p {
    font-size: 40px;
  }
  .logo_img {
    width: 40px;
    height: 40px;
  }
  .nav {
    display: none;
  }

  .burger_menu {
    background-color: rgb(86, 71, 71);
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: -145px;
    transition: top 1s ease;
  }

  .burger_menu.active {
    top: 0;
    z-index: 10;
  }

  .burger_nav_ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
  }
  
  .burger_nav_ul.item {
    list-style-type: none;
  }
  .burger_nav_ul.item a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  .burger_nav_ul.item a:hover {
    color: rgb(19, 175, 123);
  }

  .cross:hover {
    cursor: pointer;
  }

  .cross:hover path {
    fill: rgb(19, 175, 123);
  }
  
  .footer {
    padding: 0 15px 0 15px;
  }
}
